<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$']],
    displayMath: [['\\[', '\\]']],
    processEscapes: true
  },
  svg: {
    fontCache: 'global'
  }
};
</script>

<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>

<style>
  .main-content,
  main {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.75;
    font-size: 17px;
  }

  p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
  }

  h3 {
    margin-top: 2rem;
  }

  mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
  }
</style>
